body {
    background: #abacb6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 400px;
    background: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#display {
    background: #222;
    color: rgb(173, 167, 167);
    font-size: 40px;
    text-align: right;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 80px;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #493636;
    font-size: 35px;
    cursor: pointer;
    user-select: none;
}

.key:hover {
    background: #3590c5;
}

.op {
    background: #3590c5;
}

.equal {
    background: #b64141;
    grid-row: span 3;
}

#clear {
    background: #b8b2b2;
}
