.base {
    background-color: azure;
    width: 500px;
    height: 500px;
    text-align: center;
    padding: 50px;
}
.grid {
    display: grid;
    grid-template-columns:repeat( 3,1fr);
    gap: 5px;
}
.item {
    background-color: blanchedalmond;
}